$primary-color: #ff6060;
$secondary-color: #e3e3e3;
$white-color: #ffffff;

@mixin tag-styles {
  background-color: $primary-color;
  padding: 5px 20px;
  border-radius: 10px;
  color: $white-color;
  font-size: 10px;
}

@mixin star-color($color) {
  color: $color;
}

.logement_main_div {
  margin-left: 40px;

  img {
    object-fit: cover;
    height: 250px;
    width: 95%;
    border-radius: 15px;
    margin-top: 20px;
  }
}

.logement_title {
  color: $primary-color;
  font-size: 24px;
}

.logement_title_div1 {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 0px;
  }
  h6 {
    margin-top: 5px;
  }
}

.logement_host_div {
  display: flex;
  gap: 5px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.dropdown_main_div {
  display: flex;
  gap: 10px;
  margin-left: 35px;
  margin-top: 50px;
  right:50px;
  margin:50px 35px;
}

.tag_star_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin-top: 25px;

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .star-rating {
    display: flex;
    gap: 5px;
    font-weight: 100;
    flex-shrink: 0;
  }

  > * {
    @include star-color($primary-color);
  }
}

.logement_name_pic_div {
  display: flex;
  h6 {
    color: #ff6060;
  }
}

.tags {
  display: flex;
  gap: 10px;
}

.tag_span {
  @include tag-styles;
}

@media (max-width: 768px) {
  .logement_title_div1 {
    flex-direction: column;
  }

  .logement_host_div {
    flex-direction: column-reverse;
  }

  .logement_title_div_right {
    display: flex;
    justify-content: space-between;
  }

  .logement_name_pic_div {
    margin-left: 50px;
  }

  .dropdown_main_div {
    flex-direction: column;
    width: 90% ! important;
  
  }

  .parent_div {
    flex-direction: column;
    width:100%
  }

  .logement_title_div_right {
    flex-direction: row-reverse !important;
    
    width:90%;
  }
}
