.about_section {
    background-color: #ff6060;
    display: flex;
    margin: 20px;
    padding: 0;
    justify-content: space-between;
    width: 75%;
  }
  
  .about_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 75%;
  }

  .about_container p{
    margin: 10px 20px;
  }
  
  .about_parent_container {
    display: flex;
    justify-content: center;
  }
  
  .about_title_container {
    display: flex;
    background-color: #ff6060;
    margin: 10px;
    justify-content: space-between;
    color: white;
    height: 25px;
    border-radius: 3px;
  
    h3 {
      font-size: 16px;
      margin: 0;
    }
  }
  
  .aboutpage_img {
    object-fit: cover;
    height: 150px;
    width: 85%;
    border-radius: 15px;
  }
  
  .aboutcontent_image-container {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  