.footer_content {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
  
    img {
      width: 100px;
      margin-top: 50px;
    }
  
  .footer_text{
      color: white;
      margin-bottom: 25px;
    }
    

    @media (max-width: 768px){
     
      .footer_text{
        margin-left: 25px;
        margin-top: 0px;
      }
      .para_div{
       
        margin: 25px;
      }
    }

    @media (max-width: 230px){
      .para_div{
     
        margin: 15px;
        margin-top: 0 !important;
      }
    }
  }
  