@import '../About/about.scss';

.banner-container {
   
    object-fit: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
   
  }
  
  .banner-img {
    display: flex;
    justify-content: center;
    margin: $gap 0;
    height: $image-height;
    width: $image-width;
    border-radius: $border-radius-large;
  }
  