@import '../About/about.scss';

.banner-container {
   
    object-fit: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
   
  }
  
  .banner-img {
    display: flex;
    justify-content: center;
    margin: $gap 0;
    height: $image-height;
    width: $image-width;
    border-radius: $border-radius-large;
    object-fit:cover;
   
  }

  .banner-container img{
    filter:brightness(0.5)
  }
  

  .banner-text {
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }